.reviews {
  h2 {
    margin-bottom: 65px;
  }
  &__item {
    display: flex;
    vertical-align: top;
    margin-bottom: 90px;
  }
  &__round {
    height: 169px;
    width: 169px;
    margin-right: 59px;
  }
  &__block {
    width: 650px;
  }
  &__header {
    font-size: 18px;
    font-weight: 600;
    color: #0d0d0d;
  }
  &__subheader {
    font-size: 14px;
    font-weight: 300;
    color: #646464;
  }
  &__descr {
    font-size: 16px;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 21px;
  }
}
