@import 'variables';
@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'titles';
@import 'media';

*{
    font-family: 'Jost', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
body {
    min-width: 950px;
}
